# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg

# Logs and runtime data
logs/
*.log

# Project-specific generated folders
slides/
videos/
downloads/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Test / coverage reports
.coverage
htmlcov/
.tox/
pytest_cache/
